*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 16, 52);
}
h2{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    filter: invert(1);
}
ul{
    border: 1px solid white;
    width: 120px;
    border-radius: 20px;
    font-size: 20px;
    background-color: black;
    list-style: none;
}
li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}